.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container {
  margin: 20px;
}
.multiSelect,
.singleSelect {
  max-width: 400px;
}

.buttons,
.input {
  margin-top: 20px;
}

.radio > label {
  margin-right: 20px;
}
